<h1>New Page</h1>
<div>
    <form method="post" action="/new">
    <p>Welcome I hope you can beat me <%= session[:name]  %></p>
    <p> guesses <%= guesses %></p> 
    <p> Secret number is<%= session[:secret_num] %></p>
    <p> Result<%= session[:message] %></p>
    <fieldset>
      <label for="user_number">What is the number from 1 to 100 that I am thinking, try to beat me</label>
      <input type="text" name="user_number" id="user_number" value="">
      <label for="secret_num">Secret number</label>
      <p>Numero secreto es<%= @secret_num %></p>
    </fieldset>

    <input type="submit">
    <% session[:name] = @name %>
    </form>
</div>
<a href="/">Back to index</a>